aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram
hachoir
lyricsgenius
py-tgcalls
wget
python-dotenv
youtube-search-python
youtube-search
speedtest-cli
motor
psutil
requests
rich
dnspython
tgcrypto
git+https://github.com/ophexor/yt-dl@master
